parameters:
    secret:            6cd5639d969617322ee31781fb988fa66783a553

    database_host:     db
    database_port:     ~
    database_name:     attendy
    database_user:     attendyDbUser
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~